spring:
  datasource:
    url: jdbc:mysql://8.136.210.85:3306/blog?serverTimezone=UTC
    username: root
    password: '!Chenmingquan189'
    driver-class-name: com.mysql.cj.jdbc.Driver
mybatis:
  mapper-locations: classpath:mybatis/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
server:
  port: 8080